package main

import (
	"fmt"
	"os"

	"{{.ModulePath}}/bootstrap"

	"github.com/genesysflow/go-genesys/console"
	"github.com/genesysflow/go-genesys/container"
)

func main() {
	app := bootstrap.App()

	if err := app.Boot(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}

	kernel, err := container.Resolve[*console.Kernel](app)
	if err != nil {
		fmt.Fprintln(os.Stderr, "Failed to resolve console kernel:", err)
		os.Exit(1)
	}

	if err := kernel.Run(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

