package seeders

// {{.Name}} seeds the database. Register it in the SeedServiceProvider:
//
//	r.AddFunc("{{.LowerName}}", seeders.{{.Name}})
func {{.Name}}() error {
	// Create records here, e.g. with a factory:
	//
	// _, err := userFactory.Create(10)
	// return err
	return nil
}
